<div class="col-left sidebar col-xs-12 col-sm-3">
  <div class="block block-side-nav">
    <div class="block-title">
      <strong>
        <span><%= t "task" %></span>
      </strong>
    </div>
    <div class="block-content">
      <ul class="sf-menu-phone2">
        <li class="level0 nav-1 level-top parent">
          <a href="#" class="level-top"><span><%= t "request" %></span></a>
        </li>
        <li class="level0 nav-2 level-top parent">
          <a href="#" class="level-top"><span><%= t "category" %></span></a>
        </li>
        <li class="level0 nav-3 level-top parent">
          <a href="#" class="level-top"><span><%= t "product" %></span></a>
        </li>
        <li class="level0 nav-4 level-top">
          <a href="#" class="level-top"><span><%= t "order" %></span></a>
        </li>
        <li class="level0 nav-5 level-top">
          <a href="#" class="level-top"><span><%= t "user" %></span></a>
        </li>
      </ul>
    </div>
  </div>
</div>
